# Ignore everything...
*

# ...except:
!.config/
!.themes/
!.zen/
.zen/firefox-mpris/
!Obsidian/
!scripts/
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.gitconfig
!.gtkrc-2.0
!README.md
!setup.sh

# Ignore these as well
.config/yay/
.config/tmux/tmux_weather.json
.config/tmux/cron.log
.config/go/
.config/QtProject.conf
.config/qBittorrent
.config/dconf/
.config/spotify/
.config/*.log
.config/pulse
.config/Electron
.config/discord

