yay/
tmux/tmux_weather.json
tmux/cron.log
go/
QtProject.conf
qBittorrent/
dconf/
spotify/
*.log
pulse/
Electron/
discord/
gtk-*
obsidian/
hydepanel/
systemd/
d-feet/
blender/
bottom/
btop/
galculator/
inkscape/
walker/

xsettingsd/
nwg-look/
karboncalligraphyrc
kglobalshortcutsrc
kwinoutputconfig.json
kwinrc
user-dirs.dirs
user-dirs.locale
