# Ignore everything...
/*

# ...except:
!.config/
!.themes/
!Obsidian/
!scripts/
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.gitconfig
!.gtkrc-2.0
!README.md
!setup.sh

# Ignore these as well
**/yay/
**/tmux/tmux_weather.json
**/tmux/cron.log
**/go/
**/QtProject.conf
**/qBittorrent/
**/dconf/
**/spotify/
**/*.log
**/pulse/
**/Electron/
**/discord/
**/gtk-*

