* {
    font-family: "JetbrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background: #161617;
    color: white;
}

#custom-launch_wofi,
#custom-power_btn,
#custom-lock_screen,
#clock,
#battery,
#pulseaudio,
#backlight,
#taskbar,
#workspaces,
#tray {
    background: #161617;
    padding: 0.5em 0.75em;
    opacity: 0.75;
}

#taskbar {
    padding: 0;
}

#workspaces button {
    all: unset;
    color: white;
    margin-right: 0.75em;
}
#workspaces button:hover {
    color: white;
    background: #161617;
}

#taskbar button {
    padding: 0 0.5em;
    border: 0;
    transition: 0.2s ease;
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

#taskbar button.active {
    background: rgba(255, 255, 255, 0.2);
}

#custom-launch_wofi {
    padding-right: 1.15em;
    margin-right: 0.5em;
}

#custom-power_btn {
    padding-right: 1.15em;
}

#custom-lock_screen {
    margin-left: 0.5em;
}

#tray {
    margin-right: 0.5em;
    padding-right: 0.9em;
}

#battery {
}

#pulseaudio,
#backlight {
    border-radius: 0;
}

#pulseaudio.microphone {
}
