@import url("./status_bar.css");
@import url("./launcher.css");

:vars {
	--foreground: white;
	--accent: #C8B8AD;
	--background: #161617;
	--active-background: rgba(255, 255, 255, .15);
}

* {
	all: unset;
	color: var(--foreground);
	/*font-family: Inter;*/
	font-size: 12px;
	-gtk-icon-style: symbolic;
}

separator {
	margin: 0 5px;
	padding: 0;
	border-right: .5px solid rgba(255, 255, 255, .4);
}

tooltip {
	border: none;
	border-color: var(--border-color);
	background-color: var(--window-bg);
}

tooltip>* {
	padding: 2px 4px
}

button {
	padding: 0 6px;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color .5s;
}

button:hover,
button.pressed {
	background-color: var(--active-background);
}

button.icon-button image.icon {
	transition: color .5s, -gtk-icon-transform .5s;
	-gtk-icon-transform: scale(1);
}

button.icon-button:hover image.icon,
button.icon-button.pressed image.icon {
	color: var(--accent);
	-gtk-icon-transform: scale(.92);
}

.popover {}

.popover-box {
	padding: 20px;
	background-color: var(--background);
	border-radius: 10px;
	border: .5px solid rgba(255, 255, 255, .5);
}
